
body {
    background-color: black;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid #000;
    width : 5px;
    height: 6px;
    font-size: 5px;
}
.off {
    background-color: #333;
    color: black;
}
.on {
    background-color: yellow;
    color: yellow;
    border-radius: 30px;
}
.container {
    display: grid;
    grid-template-columns: 550px 125px 250px; 
    gap: 10px;
}
#clock{
    margin-left: 20px;
}
